.appGrid{
    background-color: rgb(19, 18, 18);
    padding-bottom: 10px;
}

.youtubelogo{
   
    width: 15%;
    margin-top: 80px;
}
.footer{
    text-align: center;
    color: rgb(202, 202, 199);
    margin: 94px 0 0 0 ;
    padding-top:20px ;
    width: 100%;   
    
}
.copyrightText {
    font-size: 14px;
    margin: 0;
    padding: 5px;
  }
.react{
      width: 40px;
      /* height: 38px; */
  }