.mainVideoDetails{
    background-color: rgb(190, 190, 190);
    height:80%;
    /* padding:20px; */

    
}

.iframe{
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color:  rgb(190, 190, 190);
}

.text{
    width: 100%;
    padding:0 25px 0px 15px;
    background-color: rgb(190, 190, 190);
}
.fragment{
    padding: 10px;
    margin-bottom: 20px;
}